*{
    text-decoration: none;
    padding: 0;
    margin: 0;
}
nav{
    display: flex;
 justify-content: space-between;
}
.nav-links{

display: flex;

gap:20px;
}
.nav-btn{
    display: flex;
    gap: 20px;
}
.card{
  
    display: flex;
    height: 500px;
}